<main class="main">

  <app-header-breadcrumb [breadcrumbTitle]="'Terms Of Service'"></app-header-breadcrumb>


  <!-- terms of service -->
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="terms-content">
            <h3>Attention</h3>
            <p>
              Welcome to the Hamilton Garden Inn & Suites website (the “Site”). Please read these Terms of Use carefully before using
              this Site. By using this Site, you agree to comply with and be bound by these Terms of Use. If you do not agree to these
              terms, you must not use this Site.
            </p>
          </div>
          <div class="terms-content">
            <h3>Acceptance of Agreement</h3>
            <p>
              You agree to the terms and conditions outlined in this Terms of Use Agreement (“Agreement”) concerning our Site. This
              Agreement constitutes the entire and only agreement between us and you with respect to the Site and supersedes all prior
              or contemporaneous agreements, representations, warranties, and understandings regarding the Site, the content,
              products, or services provided by or through the Site. This Agreement may be amended by us from time to time without
              specific notice to you. The latest Agreement will be posted on the Site, and you must review this Agreement prior to
              using the Site.
            </p>
          </div>
          <div class="terms-content">
            <h3>Use of Website</h3>
            <p>
              Hamilton Garden Inn & Suites authorizes you to view, print, or download any content, graphics, forms, or documents from
              the Site for your personal, non-commercial use only. You must not change or delete any such material or copyright
              notice. You may not modify, repost, republish, reproduce, publicly display, perform, assign, sublicense, sell, or
              prepare derivative works of the materials for any purpose except as expressly permitted under this Agreement. Copyright
              in the materials on this Site is owned by or used with permission from Hamilton Garden Inn & Suites. Unauthorized use of
              materials on this Site may violate copyright, trademark, and other proprietary rights of Hamilton Garden Inn & Suites.
              As a user, you are granted a non-exclusive, non-transferable, revocable, limited license to access and use this Site and
              its Content in accordance with these Terms of Use. This license may be terminated by us at any time for any reason.
            </p>
          </div>
          <div class="terms-content">
            <h3>Editing, Deleting, and Modification</h3>
            <p>
              We reserve the right, in our sole discretion, to edit or delete any documents, information, or other content appearing
              on the Site at any time.
            </p>
          </div>
          <div class="terms-content">
            <h3>Copyright</h3>
            <p>All material available on this website is protected by copyright laws. Distribution of the material from the website for
            commercial purposes is prohibited. The intellectual property, copyrights, and trademarks are owned by Hamilton Garden
            Inn & Suites or its affiliates or third-party licensors. Domestic and international copyright and trademark laws protect
            all content on the Site. You are expressly prohibited from modifying, copying, reproducing, republishing, uploading,
            posting, transmitting, or distributing any material on this Site, including text, graphics, or code.</p>
          </div>
          <div class="terms-content">
            <h3>Terms Policy</h3>
            <p>
              Hamilton Garden Inn & Suites reserves the right to revise, amend, or modify our Terms policy at any time. Any changes or
              revisions will be posted here, and it is your responsibility to review this page periodically for updates.
            </p>
          </div>
          <div class="terms-content">
            <h3>Refund and Returns Policy</h3>
            <p>
              For hotel rooms booked under the VACATION PURCHASE AGREEMENT, the right to cancel your booking, applicable cancellation
              charges, and no-show charges are outlined in the terms and conditions specific to that hotel offer. The customer may
              raise any issue of dissatisfaction within 10 days of availing such services, and the refund will be subject to
              administrative charges, ASF, and GST. This Refund Policy does not apply to the VACATION PURCHASE AGREEMENT separately
              executed between Hamilton Garden Inn & Suites and each individual customer. The relationship with Hamilton Garden Inn &
              Suites is governed by the VACATION PURCHASE AGREEMENT with regard to jurisdiction and dispute resolution mechanisms.
              Refund requests for the purchase of fixed-period vacations will be strictly according to the VACATION PURCHASE AGREEMENT
              terms, and no disputes or requests for refunds will be entertained outside these terms.
            </p>
          </div>
          <div class="terms-content">
            <h3>Payments</h3>
            <p>
              All payments made to Hamilton Garden Inn & Suites must be processed in accordance with the terms specified in the
              VACATION PURCHASE AGREEMENT. For any inquiries or issues regarding payments, please contact us at
              info&#64;hamiltongardeninnsuites.com.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- terms of service end -->



</main>