<main class="main">
  <app-header-breadcrumb [breadcrumbTitle]="'Payment'"></app-header-breadcrumb>

  <div class="pt-5 pb-120">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="terms-content">
            <h3>About Hamilton Garden Inn & suites Package Plans</h3>
            <p>
              Confused which hotel will provide you the best services? Well, you don’t have to worry anymore, because you have landed
              at the right place. Hamilton Garden inn & suites is everything that the customer's need. Exceptional holiday packages with
              affordable prices. A one-stop destination for all your family vacation needs. Hamilton Garden inn & suites assures you a
              fully equipped rooms with all modern facility that lets you have a fabulous holiday trip. Come along with us if you need
              a break from your ordinary lifestyle. We are here for you.
            </p>
          </div>
          <div class="terms-content">
            <h3>Highlights Of Hamilton Garden Inn & Suites Travel Package Plan*</h3>
              <ol>
                <li>-- Premium holidays package available</li>
                <li>-- 3000+ destinations (Domestic & International)</li>
                <li>-- Diverse indoor and outdoor activities.</li>
                <li>-- Free movie tickets, flight assistance, attractive holiday packages, and other such vouchers for our members.</li>
                <li>-- Smooth pickup & drop facilities with nominal charges.</li>
                <li>-- Mouth-watering cuisine</li>
              </ol>
          </div>
          <div class="terms-content">
            <h3>Contact Us</h3>
            <p>
              For more details or concerns regarding this Privacy Policy, please contact us at info&#64;hamiltongardeninnsuites.com, 011-43083925 .
            </p>
          </div>
          <div class="terms-content">
            <h3>Terms & Conditions</h3>
            <p>
              <a [routerLink]="['/terms-of-service']">https://www.hamiltongardeninnsuites.com/terms-of-service</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container pt-120">
      <div class="row">
        <iframe src="https://razorpay.me/@hamiltongardeninnandsuitespri" frameborder="0" height="900px"></iframe>
      </div>
    </div>
  </div>


</main>