<main class="main">
  <app-header-breadcrumb [breadcrumbTitle]="'Package Enquiry'"></app-header-breadcrumb>

  <div class="contact-area py-5">
    <div class="container">
      <div class="contact-wrapper py-5">
        <div class="row">
          <div class="col-md-12 align-self-center">
            <div class="contact-form">
              <div class="contact-form-header">
                <h2>Package Enquiry</h2>
                <p>Have questions or need assistance? We’re here to provide you with all the information and support you
                  need.</p>
              </div>
              <form [formGroup]="membershipEnquiryForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="name" placeholder="Your Name">
                      <div class="text-danger"
                        *ngIf="membershipEnquiryForm.get('name').invalid && membershipEnquiryForm.get('name').touched">
                        <small *ngIf="membershipEnquiryForm.get('name').errors?.['required']">Name is required.</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="mobile" placeholder="Your Mobile Number">
                      <div class="text-danger"
                        *ngIf="membershipEnquiryForm.get('mobile').invalid && membershipEnquiryForm.get('mobile').touched">
                        <small *ngIf="membershipEnquiryForm.get('mobile').errors?.['required']">Mobile Number is required.</small>
                        <small *ngIf="membershipEnquiryForm.get('mobile').errors?.['pattern']">Invalid mobile number.</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="email" class="form-control" formControlName="email" placeholder="Your Email">
                      <div class="text-danger"
                        *ngIf="membershipEnquiryForm.get('email').invalid && membershipEnquiryForm.get('email').touched">
                        <small *ngIf="membershipEnquiryForm.get('email').errors?.['required']">Email is required.</small>
                        <small *ngIf="membershipEnquiryForm.get('email').errors?.['email']">Invalid email format.</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="currentCity" placeholder="Current City">
                      <div class="text-danger"
                        *ngIf="membershipEnquiryForm.get('currentCity').invalid && membershipEnquiryForm.get('currentCity').touched">
                        <small *ngIf="membershipEnquiryForm.get('currentCity').errors?.['required']">Current city is
                          required.</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="number" class="form-control" formControlName="age" placeholder="Your Age">
                      <div class="text-danger" *ngIf="membershipEnquiryForm.get('age').invalid && membershipEnquiryForm.get('age').touched">
                        <small *ngIf="membershipEnquiryForm.get('age').errors?.['required']">Age is required.</small>
                        <small *ngIf="membershipEnquiryForm.get('age').errors?.['min']">Age must be at least 1.</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <textarea formControlName="message" cols="30" rows="5" class="form-control"
                    placeholder="Write Your Enquiry"></textarea>
                  <div class="text-danger"
                    *ngIf="membershipEnquiryForm.get('message').invalid && membershipEnquiryForm.get('message').touched">
                    <small *ngIf="membershipEnquiryForm.get('message').errors?.['required']">Message is required.</small>
                  </div>
                </div>
                <div class="d-flex justify-content-end pt-2">
                  <button type="submit" class="contact-btn">
                    <i class="far fa-paper-plane"></i> Submit
                  </button>
                </div>
                <div class="col-md-12 mt-3">
                  <div class="form-message text-success" *ngIf="enquirySent">Your enquiry has been sent successfully!
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>