<div>
  <div class="mb-2 flex items-center justify-between">
    <h5 class="text-lg font-semibold dark:text-white-light">Package Enquiries</h5>
  </div>
  <div class="panel border-[#e0e6ed] px-0 pb-1.5 dark:border-[#1b2e4b]">
    <div class="datatable invoice-table">
      <div class="mb-4.5 flex flex-col gap-5 px-3 md:flex-row md:items-center">
        <div class="flex flex-col gap-2 sm:flex-row sm:ltr:ml-auto rtl:mr-auto">
          <div>
            <input [(ngModel)]="search" type="text" class="form-input" placeholder="Search..." />
          </div>
        </div>
      </div>

      <ng-datatable #datatable [rows]="items" [columns]="cols" [search]="search" [loading]="loading"
        [totalRows]="total_rows" [isServerMode]="true" [pageSize]="params.pagesize"
        (changeServer)="changeServer($event)" skin="whitespace-nowrap bh-table-hover"
        firstArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
        lastArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg> '
        previousArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
        nextArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'>
        <ng-template slot="destinationName" let-value="data">
          <div class="flex items-center font-semibold">
            {{ value?.destinationName}} ({{value?.destinationLocation }})
          </div>
        </ng-template>
        <ng-template slot="createdAt" let-value="data">
          <div class="flex items-center font-semibold">
            {{ value?.createdAt | date:'EEEE dd MMM yyyy' }}
          </div>
        </ng-template>
        <ng-template slot="rating" let-value="data">
          <div class="flex items-center justify-start text-warning">
            <div *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
              <icon-star *ngIf="i < value?.rating" class="fill-warning"></icon-star>
            </div>
            <div *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
              <icon-star *ngIf="i < (5-value?.rating)"></icon-star>
            </div>
          </div>
        </ng-template>
        <!-- <ng-container>
          <ng-template slot="actions" let-value="data">
            <div class="flex items-center justify-center gap-4">
              <button (click)="updateReviewStatus(value, 'approved')" class="hover:text-info">
                <icon-circle-check class="h-6 w-6" />
              </button>
              <button type="button" class="hover:text-danger" (click)="updateReviewStatus(value, 'rejected')">
                <icon-x-circle class="h-6 w-6" />
              </button>
            </div>
          </ng-template>
        </ng-container> -->
      </ng-datatable>
    </div>
  </div>
</div>