<div class="counter-area pt-50 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="counter-box">
          <div class="icon"><i class="fal fa-user-friends"></i></div>
          <span class="counter" [appCounter]="1000" [speed]="3000">0</span>
          <h6 class="title">+ Satisfied Customers</h6>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="counter-box">
          <div class="icon"><i class="fal fa-users-class"></i></div>
          <span class="counter" [appCounter]="200" [speed]="3000">0</span>
          <h6 class="title">+ Destinations</h6>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="counter-box">
          <div class="icon"><i class="fal fa-hands-heart"></i></div>
          <span class="counter" [appCounter]="4" [speed]="1000">0</span>
          <h6 class="title">+ Years Experience</h6>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="counter-box">
          <div class="icon"><i class="fal fa-award"></i></div>
          <span class="counter" [appCounter]="50" [speed]="3000">0</span>
          <h6 class="title">+ Awards Won</h6>
        </div>
      </div>
    </div>
  </div>
</div>