<main class="main">

  <!-- breadcrumb -->
  <app-header-breadcrumb [breadcrumbTitle]="'About Us'"></app-header-breadcrumb>
  <!-- breadcrumb end -->

  <!-- about area -->
  <div class="about-area pt-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="about-left">
            <div class="about-img">
              <img src="assets/clientTemplate/img/about/1.webp" alt="About Image" loading="lazy">
            </div>
            <div class="about-left-content">
              <h5>4+</h5>
              <span>Years Of Experience</span>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-right">
            <div class="site-header">
              <span class="site-title-tagline">About Us</span>
              <h2 class="site-title">World Best Travel Agency Company For You</h2>
            </div>
            <p class="about-text">Welcome to Hamilton Garden Inn & Suites, the world’s leading travel agency dedicated to creating
              unforgettable journeys tailored
              just for you. With a passion for exploration and a deep understanding of the travel industry, we pride ourselves on
              delivering bespoke travel experiences that go beyond the ordinary.
            
              At Hamilton Garden Inn & Suites, we believe in the magic of travel. Whether you're looking for an adventurous getaway,
              a
              luxurious retreat, or a cultural immersion, our expertise and dedication ensure that every trip is nothing short of
              exceptional.
            </p>
            <div class="about-list-wrapper">
              <ul class="about-list list-unstyled">
                <li>
                  <div class="icon"><span class="far fa-check-circle"></span></div>
                  <div class="text">
                    <p>A wide variety of handpicked destinations, tailored to your interests.</p>
                  </div>
                </li>
                <li>
                  <div class="icon"><span class="far fa-check-circle"></span></div>
                  <div class="text">
                    <p>A team of passionate local guides who make your journey more insightful and enjoyable.</p>
                  </div>
                </li>
                <li>
                  <div class="icon"><span class="far fa-check-circle"></span></div>
                  <div class="text">
                    <p>Trusted travel planning, ensuring a seamless experience from start to finish.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- about area end -->




  <!-- testimonial-area -->
  <app-testimonial></app-testimonial>
  <!-- testimonial-area end -->


  <!-- counter area -->
  <div class="pb-120">
    <app-counter></app-counter>
  </div>
  <!-- counter area end -->

</main>